.about {
    background-color: var(--dark-accent);
    font-family: "CaviarDreams";
    padding-left: 50px;
}

.about__header {
    padding-top: 60px;
    padding-bottom: 20px;
    color: var(--accent-color);
}

.about__text {
    padding-top: 10px;
    padding-bottom: 20px;
}