.about {
    background: var(--dark-accent);
    display: flex;
    align-items: flex-start;
    padding: 20px;
    font-family: "CaviarDreams";
    justify-content: space-around;
}

.about__accent {
    font-family: "CaviarDreamsBold";
    color: var(--accent-color);
}

.about__para {
    margin-top: 15px;
}

.email {
    margin-top: 30px;
}

.email a {
    text-decoration: none;
    color: var(--accent-color);
}