.contact {
    font-family: "CaviarDreams";
    background-color: var(--dark-accent);
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(200px, 1fr)
    );
    /* column-gap: 1fr; */
    /* justify-content: space-between; */
    padding-top: 20px;
    padding-left: 50px;
    padding-bottom: 50px;
}

.contact__icons {
    font-size: 25px;
    color: var(--text-color);
    padding-right: 10px;
}

.contact__icons:hover {
    color: var(--accent-color);
    transform: scale(1.1);
}

.contact__header {
    color: var(--accent-color);
    font-family: "CaviarDreamsBold";
}

input {
    border: none;
    background: none;
    width: 300px;
    color: var(--text-color);
    border-bottom: 2px solid white;
    font-family: "Open Sans"
}

input:focus {
    outline: none;
}

.contact__left h1 {
    padding-top: 20px;
}

.contact__left h2, .contact__right h2 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.submit__button {
    border-radius: 10px;
    height: 40px;
    width: 70px;
    border: none;
    background-color: var(--accent-color);
    color: var(--text-color);
    margin-top: 20px;
}

.submit__button:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.email {
    margin-top: 30px;
}

.email a:hover {
    color: var(--text-color);
}

.email a {
    text-decoration: none;
    color: var(--accent-color);
}

@media screen and (max-width: 768px){
    .contact__icons{
        padding-bottom: 30px;
    }
    .contact {
        padding-left: 30px;
    }
}