.header {
    background: var(--bg-color);
    color: white;
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 30px;
}

.header__links {
    color: #B3B3B3;
    padding: 15px;
}

.header__links:hover {
    color: var(--accent-color);
    transform: scale(1.1);
    cursor: pointer;
}